.contacts__container {
  display: grid;
  grid-template-areas: "map address";
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: {
    top: 120px;
    bottom: 120px;
  }

  @media (max-width: $vp-1023) {
    grid-gap: 30px;
    margin: {
      top: 100px;
      bottom: 100px;
    }
  }

  @media (max-width: $vp-767) {
    grid-template-columns: minmax(290px, 1fr);
    grid-template-areas:
      "address"
      "map";
    grid-gap: 15px;
    margin: {
      top: 0;
      bottom: 65px;
    }
  }
}

.contacts__map {
  grid-area: map;
  display: flex;
  justify-content: center;
}

.contacts__map iframe {
  display: block;
  border: none;
  width: 100%;

  @media (max-width: $vp-1023) {
    height: 335px;
  }

  @media (max-width: $vp-767) {
    height: 316px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  grid-area: address;
  padding: 75px 0 0 60px;

  @media (max-width: $vp-1023) {
    padding: 0;
  }
}

.contacts__wrapper h2 {
  font: {
    font: $ff-montserrat-medium;
    size: 18px;
  }
  line-height: 27px;
  color: $color-tangaroa;
  margin: 0 0 28px;
  cursor: default;

  @media (max-width: $vp-1023) {
    padding: 65px 0 25px;
    margin: 0;
  }

  @media (max-width: $vp-767) {
    padding: 55px 0 30px;
  }
}

.contacts__title br {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
  }
}

.contacts a {
  font: {
    family: $ff-montserrat-regular;
    size: 16px;
  }
  line-height: 24px;
  cursor: pointer;
  padding-bottom: 20px;
  display: flex;
  align-items: center;

  @include hover-focus {
    fill: $color-school-bus-yellow;
  }
}

.contacts__address br {
  display: none;

  @media (max-width: $vp-1023) {
    display: block;
  }
}

.contacts__address {
  @media (max-width: $vp-1023) {
    padding-bottom: 20px;
  }
}

.contacts__address span,
.contacts__tel a {
  @media (max-width: $vp-1023) {
    padding-left: 10px;
  }
}

.contacts__address,
.contacts__tel {
  display: flex;
}

.contacts__address svg,
.contacts__tel svg {
  @media (max-width: $vp-1023) {
    position: relative;
    top: 4px;
  }
}
