form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-tangaroa;
  padding: 40px 40px 50px;

  @media (max-width: $vp-1023) {
    width: 400px;
    margin: 0 auto;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    padding: 30px 30px 40px;
  }
}

form h2 {
  font: {
    family: $ff-montserrat-medium;
    size: 18px;
  }

  line-height: 27px;
  color: $color-default-white;
  margin: 0 0 28px;
  padding: 4px 0 0;

  @media (max-width: $vp-1023) {
    text-align: center;
  }

  @media (max-width: $vp-767) {
    line-height: 25px;
  }
}

form .booking__br-tablet {
  display: none;

  @media (max-width: $vp-1023) {
    display: block;
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

form .booking__br-mobile {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
  }
}

.form__field {
  width: 100%;
  margin-bottom: 22px;
  border-color: $color-default-white;

  @include hover-focus {
    border-color: $color-school-bus-yellow;
  }
}

.form__field input {
  width: 100%;
  border: 1px solid transparent;
  padding: 8px 0 10px 16px;

  @include hover-focus {
    box-shadow: 0 0 10px $color-default-white;
    transition: .3s;
  }
}

.form__field input::placeholder {
  font: {
    family: $ff-montserrat-regular;
    size: 14px;
  }

  line-height: 21px;
  color: rgba(1, 28, 64, 0.7);
}

.form__field.agree {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 33px;
  padding-right: 0;

  @media (max-width: $vp-767) {
    margin-bottom: 23px;
    padding-right: 45px;
  }
}

.form__field.agree label {
  font: {
    family: $ff-montserrat-regular;
    size: 10px;
  }

  line-height: 12px;
  color: $color-default-white;
  padding-left: 2.2em;

  @media (max-width: $vp-767) {
    padding-left: 2.8em;
  }
}

.form__field.agree input {
  width: 23px;
  height: 23px;
  appearance: none;
  z-index: 1;
  border: none;
  padding: 0;
}

.form__field.agree span {
  position: absolute;
  width: 23px;
  height: 23px;
  background: url("../img/svg/checkbox-unchecked.svg") 0 0 no-repeat;
  left: 0;
  top: 0;
}

.form__field.agree input:checked+span {
  background: url("../img/svg/checkbox-checked.svg") 0 0 no-repeat;
}

form button {
  font: {
    family: $ff-montserrat-semi-bold;
    size: 14px;
  }

  line-height: 21px;
  color: $color-tangaroa;
  width: 100%;
  background-color: $color-default-white;
  border: none;
  padding: 12px 0;
  cursor: pointer;

  @include hover-focus {
    box-shadow: 0 0 10px $color-default-white;
    transition: .3s;
  }
}