.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  z-index: 1;

  @media (max-width: $vp-1023) {
    padding-top: 21px;
  }

  @media (max-width: $vp-767) {
    padding-top: 19px;
  }

  &.no-js {
    @media (max-width: $vp-767) {
      position: relative;
      background-color: $color-default-white;
      padding-bottom: 20px;
    }
  }

  @media (max-width: $vp-767) {
    &.opened {
      position: absolute;
      right: 0;
      width: 90vw;
      min-height: 100vh;
      background-color: white;
    }
  }
}

.header__logo {
  cursor: default;

  @media (max-width: $vp-767) {
    &.opened {
      position: absolute;
      z-index: 3;
    }

    &.opened svg {
      fill: $color-tangaroa;

      @include hover-focus {
        opacity: .3;
      }
    }
  }

  &.no-js svg {
    @media (max-width: $vp-767) {
      fill: $color-tangaroa;
    }
  }

  @media (max-width: $vp-1023) {
    width: 38px;
    height: 20px;
    margin-top: 9px;
  }

  @media (max-width: $vp-767) {
    width: 42px;
    height: 22px;
    margin-top: 0;
  }
}

.header__logo svg {
  fill: $color-default-white;

  @include hover-focus {
    filter: drop-shadow(0 0 5px $color-default-white);
    transition: .3s;
  }

  @media (max-width: $vp-1023) {
    width: 38px;
    height: 20px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-height: 38px;

  &.no-js {
    @media (max-width: $vp-767) {
      flex-direction: column;
    }
  }
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $vp-767) {
    &.opened {
      position: absolute;
      width: 89vw;
      height: 100vh;
      top: 85px;
      right: 0;
      overflow: auto;
      z-index: 2;
    }

    @media (max-width: 319px) {
      &.opened {
        width: 100%;
      }
    }
  }

  &.no-js {
    @media (max-width: $vp-767) {
      align-items: flex-start;
      padding-top: 20px;
    }
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    justify-content: center;
  }
}

.header__menu.opened .menu__logo {
  display: block;
  position: absolute;
  top: 20px;
  left: 15px;
}