.intro__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  padding: 110px 0 145px;

  @media (max-width: $vp-1023) {
    margin: 100px 0 93px;
    grid-column-gap: 20px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    margin: 58px 0 85px;
  }
}

.intro__wrapper {
  padding: 58px 25px 0 20px;

  @media (max-width: $vp-1023) {
    padding: 0;
  }

  @media (max-width: $vp-767) {
    padding: 0 0 43px 0;
  }
}

.intro__wrapper h2 {
  font: {
    family: $ff-montserrat-semi-bold;
    size: 28px;
  }
  line-height: 42px;
  color: $color-tangaroa;
  margin: 0;
  padding: 0 0 24px 0;
  cursor: default;

  @media (max-width: $vp-1023) {
    font: {
      size: 26px;
    }
    line-height: 36px;
    margin-top: -10px;
    padding: 0 0 17px 0;
  }

  @media (max-width: $vp-767) {
    font: {
      size: 23px;
    }
    line-height: 33px;
    padding: 0 0 16px 0;
    margin-top: 0;
  }
}

.intro__title br {
  display: none;

  @media (max-width: $vp-1023) {
    display: block;
  }
}

.intro__wrapper p {
  font: {
    family: $ff-montserrat-regular;
    size: 16px;
  }
  line-height: 24px;
  padding: 0;
  margin: 0;
  cursor: default;
}

.intro__text br {
  display: none;

  @media (max-width: $vp-1023) {
    display: block;
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

.intro__img {
  display: flex;
  align-items: flex-start;

  @media (max-width: $vp-767) {
    justify-content: center;
  }
}

.intro__img img {
  max-width: 100%;
  background-color: $color-tangaroa;
}
