.menu__logo {
  display: none;

  @include hover-focus {
    fill: $color-school-bus-yellow;
  }
}

.menu__nav {
  @media (max-width: $vp-767) {
    &.opened {
      display: block;
      position: absolute;
      top: 87px;
      left: 26px;
    }
  }

  &.no-js {
    display: block;
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: $vp-1023) {
    gap: 24px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
  }
}

.menu__list-item a {
  font: {
    family: $ff-montserrat-medium;
    size: 16px;
  }
  line-height: 19px;
  color: $color-default-white;
  cursor: pointer;

  @include hover-focus {
    color: $color-school-bus-yellow;
  }

  @media (max-width: $vp-1023) {
    font: {
      size: 14px;
    }
    line-height: 17px;
  }

  @media (max-width: $vp-767) {
    font: {
      size: 18px;
    }
    line-height: 22px;
    color: $color-tangaroa;
  }
}

.menu__toggle {
  cursor: pointer;
  background-color: transparent;
  border: none;
  stroke: $color-default-white;
  padding: 0;
  display: none;
  visibility: hidden;

  @include hover-focus {
    stroke: $color-school-bus-yellow;
  }

  @media (max-width: $vp-767) {
    visibility: visible;

    &--burger {
      display: block;
    }

    &--icon-close {
      position: absolute;
      top: 20px;
      right: 15px;
      display: none;
    }
  }
}
